.btn{
    height:100px;
    width:100px;
    border:4px solid black;
}
body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 30%;;
    border:10px solid black;
    margin:1em;
}
.btn-container{
    display:flex;
    justify-content:center;

}
.red{
    background-color:#d95980;
}
.yellow{
    background-color:#f99b45;
}
.green{
    background:#63aac0;
}
.blue{
    background-color: #819ff9;
}
.flash{
    background-color:white;
}
.userflash{
    background-color:rgb(111, 165, 111);
}
  
